<article class="business">
  <h1>{{ business.businessName }}</h1>

  <p>{{ business.type }}</p>
  <p>{{ business.address }}</p>
  <p>{{ business.description }}</p>
  <p>{{ business.link }}</p>
  <p>{{ business.phoneNumber }}</p>

 
  
  <a href="/businesses">Back to Business Page</a>
</article>